<div class="row">
  <div class="col-xs-4 col-md-4"></div>
  <div class="col-xs-3 col-md-4">
    <!-- Card container that binds all togather -->
    <mat-card>

      <!-- Title of an Card -->
      <mat-card-title>
        << Attendance Application >>
      </mat-card-title>

      <br/>

      <mat-label>
        <h5>Please enter your User Name & Password to Login:</h5>
      </mat-label>

      <br/>

      <!-- Actual content starts from here -->
      <mat-card-content >

        <form [formGroup]="regiForm" (ngSubmit)="onFormSubmit(regiForm)">

          <table>
            <tr>
              <td>

                <mat-form-field>
                  <!-- <Label for="UserName">User Name:</Label> -->
                  <input formControlName="UserName" matInput placeholder="User Name">
                </mat-form-field>
                <mat-error>
                  <span *ngIf="!regiForm.get('UserName').valid && regiForm.get('UserName').touched">Please enter your
                    User Name !!!</span>
                </mat-error>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field>
                  <input formControlName="Password" matInput placeholder="Password">
                </mat-form-field>
                <mat-error>
                  <span *ngIf="!regiForm.get('Password').valid && regiForm.get('Password').touched">Please enter your
                    password !!!</span>
                </mat-error>
              </td>
            </tr>

            <tr>
              <td colspan="2" class="content-center">
                <button mat-raised-button color="accent" [disabled]="!regiForm.valid">Submit</button>
              </td>
            </tr>
            <tr>
              <td></td>
            </tr>
          </table>
        </form>

      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-xs-4 col-md-4"></div>
</div>
